/* .postingsWholeContainer{

} */

.postingsTop{
    text-align: center;
    padding-top: 2em;
}

.postingsHeader{
    font-size: 5em;
    color: whitesmoke;
    background-color: black;
}

.postings{
    margin-top: 5em;
    margin-right: 30em;
    margin-left: 30em;
}

.post{
    border-color: #355e3b ;
    border-style: outset;
    border-radius:  15px 15px 15px 15px;
    margin: 4px;
    padding-bottom: 4px;
    background-color: whitesmoke;
    box-shadow: 0px 12px 18px -6px rgba(0,0,0.3);

}

.post-user-heading{
    display: flex;
    padding-left: 8px;
    padding-top: 8px;
    border-bottom: solid gray 2px;

}

.post-image{
    display: flex;
    justify-content: center;
    margin: 4px;
    padding: 15px;
}

.post-description{
    display: flex;
    justify-content: center;
}

.post-footer{
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


