/* .postingsWholeContainer{
    
} */

.postingsContainer{
    border: solid lightgray;
    margin-left: 17.5%;
    margin-right: 17.5%;
    background-color: white 
}

.postingsTop{
    text-align: center;
    padding-top: 2em;
}

.postingsHeader{
    font-size: 5em;
    text-decoration: underline;
}

.postings{
    margin-right: 10%;
    margin-left: 10%;
}

.post{
    margin: 4px;
    padding-bottom: 4px;
    background-color: white;
    box-shadow: 0px 12px 18px -6px rgba(0,0,0.3);
}

.post-user-heading{
    display: flex;
    padding-left: 8px;
    padding-top: 8px;
    border-bottom: solid #f2f3f4 2px;
}

.post-image{
    display: flex;
    justify-content: center;
    margin: 4px;
}

.post-description{
    display: flex;
    justify-content: center;
    padding: 4px;
}

.post-footer{
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.likeButtonFooter{
    display: flex;
    flex-direction: row;
    border-top: solid #f2f3f4 2px;
    padding-top: 5px;
}
