.task-page{
    padding-top: 3em;
    display: flex;
    flex-direction: column;
}

.task-page-container{
    margin-left: 10%;
    margin-right: 10%;
}

/* .task-page{
    padding-top: 3em;
    display: flex;
    flex-direction: column;
} */

.task-top{
    padding-top: 2em;
    padding-bottom: 1em;
    text-align: center;
}

.task-header{
    font-size: 5em; 
    text-decoration: underline;
}

.task-list{
    display: flex;
    justify-content: space-evenly;
    opacity: 0.9;
    padding-bottom: 15%;
}

.incomplete-tasks{
    width: 40%;

}

.incomplete-tasks-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
}

.complete-tasks{
    width: 40%;
}

.complete-tasks-header{
    padding-bottom: 12px;
}

.individualTasks{
    padding: .75em;
    border-radius:  10px 10px 10px 10px;
    font-size: 18px;


}

.tasksInput{
    margin-right: 2em;
    margin-left: 1em;
    transform: scale(1.5);
    cursor: pointer;
}